body {
  background-color: black;
  margin: auto;
}
h1 {
  color: white;
  padding-top: 15px;
}
#container {
  width: 50%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 47%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-style: ridge;
  overflow: hidden;
}

#inputBox {
  margin: 10% 10px;
}
select {
  margin: 10% 0;
}
